@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import './header.css';
@import './variables.css';
@import './components.css';
@import './hero.css';
@import './advantages.css';
@import './chaos.css';
@import './order.css';
@import './sponsors.css';
* {
    padding: 0;
    margin: 0;
}
body {
    font-family:'Inter';
font-style: normal;
font-weight: 400;
}
.container {
    max-width: 1060px;
    margin: 0 auto;
}